/* line 1, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
  height: auto;
  width: auto;
  position: relative;
}

/* line 10, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
body {
  font: normal 18px/2em ubuntu, Helvetica;
  text-align: center;
}

/* line 15, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
h1 {
  font-size: 1.1em;
}

/* line 28, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
article,
aside,
details,
dialog,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* line 32, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
img {
  max-width: auto;
  max-height: auto;
}

/* line 37, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
input {
  border-radius: 4px;
  background: #fff;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 3px;
}

/* line 45, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
input:focus {
  outline: none;
  border: 1px solid rgba(30, 150, 255, 0.7);
  box-shadow: 0px 0px 1px 1px rgba(30, 150, 255, 0.7);
}

/* line 51, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
input[type="text"] {
  padding: 6px 12px;
  height: 28px;
}

/* line 56, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-main {
  width: 100%;
  height: auto;
  background: #eee;
  text-align: left;
}

/* line 63, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-inner {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: #000;
  text-align: left;
  border-bottom: 10px solid #eee;
}

/* line 72, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-inner > div.row {
  height: 50px;
}
/* line 74, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-inner > div.row:first-child {
  background: #2c0;
}

/* line 79, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-logo {
  background: #000;
}

/* line 83, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-text {
  height: 100%;
  width: 100%;
  padding: 8px;
}
/* line 87, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#header-text a {
  width: auto;
  color: #262626;
  text-decoration: none;
}

/* line 94, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#nav-container {
  width: 100%;
  display: none;
}

/* line 99, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#nav-container ul li a {
  display: block;
  padding: 14px 12px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
}

/* line 108, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#nav-container ul li a:active {
  background: #2c0;
}

/* line 112, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#nav-container ul li a:hover {
  background: #2c0;
}

/* line 116, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#nav-container aside {
  min-width: 50px;
  background: #eee;
  border-left: 1px solid #ccc;
  z-index: 100;
}

/* line 123, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#nav-main {
  display: none;
  height: 100%;
}

/* line 128, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#search-container {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

/* line 133, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#search-container input[type="image"] {
  position: absolute;
  width: 28px;
  left: 0px;
  border: 0px;
  margin: 14px 6px;
  padding: 6px 3px;
  border-right: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
}

/* line 144, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#search-container input[type="text"] {
  padding-left: 35px;
  font-size: 16px;
  margin: 13px 5px;
  -webkit-flex: 1;
}

/* line 151, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#page-container {
  height: auto;
}

/* line 156, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#page-title {
  width: 100%;
  padding: 4px 0px;
  text-align: center;
  background: #444;
  color: #fff;
}

/* line 164, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
#main-page {
  width: 100%;
  margin: 0 auto;
}

/* line 173, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.header-icon {
  min-width: 50px;
  height: 50px;
}

/* line 178, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.header-icon img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

/* line 184, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.header-btn {
  min-width: 36px;
  height: 36px;
  padding: 2px;
  margin: 4px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

/* line 194, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.header-btn img {
  width: 36px;
  height: 36px;
}

/* line 199, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.header-btn:active {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 205, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.btn {
  border-radius: 4px;
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px 8px;
}

/* line 213, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.btn:focus {
  outline: none;
  border: 1px solid rgba(30, 150, 255, 0.7);
  box-shadow: 0px 0px 1px 1px rgba(30, 150, 255, 0.7);
}

/* line 224, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.row {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-flow: row;
}

/* line 231, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.col {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
}

/* line 238, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.span1 {
  width: 100%;
}

/* line 242, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.scroll-vertical {
  overflow-x: auto;
}

/* line 246, /var/www/davepowerman-rails/app/assets/stylesheets/application.css.scss */
.content-column {
  min-width: 80%;
}

/*
#main-header > div.row{
     height:50px; 
     background:#fff; 
}



#header-name{
    width:100%;
    height:30px;
    padding:0px;
    border:10px solid #000;
    border:10px  10px 10px 10px; 
}*/
