/* Tablet styles: 600px - 999px */
@media screen and (min-width: 600px) {
    
}

/* Full desktop styles: 1000px + */
@media screen and (min-width: 1000px) {
    body {
        font-size: 100%;
    }

    #header-inner {
        max-width: 1150px;
        background: #fff;
        margin-top: 0px;
    }
    
    #main-page {
        max-width: 1150px;
    }
    
    #nav-main {
        display: block;
    }
    
    #nav-main ul li {
        width: auto;
    }
    
    .header-btn {
        display: none;
    }
}
